<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.dieklingel.app</key>
		<string>match AppStore com.dieklingel.app</string>
	</dict>
	<key>signingCertificate</key>
	<string>8702C3CEE167260D632A1AC65DE99063A5FEC4DF</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>3QLZPMLJ3W</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
